@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  /* Define explicitly the semantic variables and let them pull from CSS Custom Properties */
  --color-primary: #6366F1;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-success: #10B981;
  
  --color-surface: var(--color-surface);
  --color-base: var(--color-base);
  --color-muted: var(--color-muted);
}

@layer base {
  :root {
    /* LIGHT MODE */
    --color-surface: #FFFFFF;
    --color-base: #F8FAFC;
    --color-muted: #64748B;
  }
  
  :root.dark {
    /* DARK MODE */
    --color-surface: #1E293B;
    --color-base: #0F172A;
    --color-muted: #94A3B8;
  }
}

body {
  @apply bg-base text-slate-900 dark:text-white transition-colors duration-200;
}
